.HeaderNonConnecte {
    background-color: #46A55D;
    padding-top: 10px;
    padding-bottom: 10px;
}

.headerText {
    color: white;
    font-weight: bold;
    text-align: right;
}

.message {
    text-align: left;
}


.gras {
    font-weight: bold;
}

.fenetreDiscussion {
    height:550px;
    overflow-y: scroll;
  }
